@font-face {
  font-family: 'Cardo-Regular';
  src: url(./assets/fonts/Cardo-Regular.ttf);
}

body {
  box-sizing: border-box;
  background-image: url("./assets/images/parchment-paper-light-texture.jpg");
  font-family: 'Cardo-Regular'; 
}